

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OOPS!</title>
</head>
<body>
    <div>
        <h1>You need to log in to access this feature!</h1>
    </div>
</body>
</html>
